---
layout: default
hideFooterAbout: true
---

<div class="page-home">

  <div class="page-content accented">
    <div class="wrapper">
      <img class="page-image" src="/assets/img/toddhgardner-480.jpg" alt="Todd H Gardner">
      <h1 class="page-heading">Hey!</h1>
      <div class="page-description">
        <p>
          I'm Todd. I develop businesses and build software. I'm the President and Cofounder of <a href="https://trackjs.com/">TrackJS</a> and the Producer of <a href="https://pubconf.io/">PubConf</a>. I also consult, train, and speak at all kinds of organizations. We should work together! <a href="/contact">Let me know how I can help.</a>
        </p>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <ul class="post-list">
      {% if true %}
      {% for post in site.posts %}
        <li class="post-item">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <span class="post-title">{{ post.title }}</span>
            <span class="post-date">{{ post.date | date: "%B %-d, %Y" }}</span>
          </a>
        </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>

</div>
