<footer class="site-footer accented">
  <div class="wrapper">

    {% if page.hideFooterAbout == null || page.hideFooterAbout == true %}
    <div class="footer-about">
      <div class="about-image">
        <img src="/assets/img/toddhgardner-240.jpg" alt="Todd H Gardner">
      </div>
      <div class="about-text">
        <p>
          <strong>Hey!</strong><br>
          I'm Todd. I develop businesses and build software. I'm the President and Cofounder of <a href="https://trackjs.com/">TrackJS</a> and the Producer of <a href="https://pubconf.io/">PubConf</a>. I also consult, train, and speak at all kinds of organizations. We should work together! <a href="/contact">Let me know how I can help.</a>
        </p>
      </div>
    </div>
    {% endif %}

    <ul class="social-media-list">

      {% if site.twitter_username %}
      <li>
        <a class="icon-twitter" href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}">
          <span class="hidden">Twitter</span>
        </a>
      </li>
      {% endif %}

      {% if site.facebook_username %}
      <li>
        <a class="icon-facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="{{ site.facebook_username }}">
          <span class="hidden">Facebook</span>
        </a>
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        <a class="icon-github-circled" href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }}">
          <span class="hidden">Github</span>
        </a>
      </li>
      {% endif %}

      {% if site.linkedin_username %}
      <li>
        <a class="icon-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}" title="{{ site.linkedin_username }}">
          <span class="hidden">LinkedIN</span>
        </a>
      </li>
      {% endif %}

      <li>
        <a class="icon-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe via RSS">
          <span class="hidden">RSS</span>
        </a>
      </li>
    </ul>

    <div class="footer-legal">
      All content appearing on this website is proprietary, copyrighted and owned or licensed by G12 Solutions LLC. Any unauthorized use of trademarks or content from this website is strictly prohibited. All rights reserved.
      <br /><br />
      Copyright © 2010-{{ site.time | date: '%Y' }} G12 Solutions LLC
    </div>
  </div>

</footer>
