<footer class="site-footer accented">
  <div class="wrapper">
    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1 footer-about">
        {% if page.hideFooterAbout == null || page.hideFooterAbout == true %}
        <div class="about-image">
          <img src="/img/toddhgardner-120x120.jpg" alt="Todd H Gardner">
        </div>
        <div class="about-text">
          <p>
            <strong>Hey!</strong><br>I'm Todd :). I develop businesses and software, usually for the web. I'm the co-founder of <a href="http://trackjs.com/">{Track:js}</a>. I also consult and speak, we should <a href="/contact">work together</a>.
          </p>
        </div>
        {% endif %}
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">

          {% if site.twitter_username %}
          <li>
            <a class="icon-twitter" href="https://twitter.com/{{ site.twitter_username }}" title="{{ site.twitter_username }}">
              <span class="hidden">Twitter</span>
            </a>
          </li>
          {% endif %}

          {% if site.github_username %}
          <li>
            <a class="icon-github-circled" href="https://github.com/{{ site.github_username }}" title="{{ site.github_username }}">
              <span class="hidden">Github</span>
            </a>
          </li>
          {% endif %}

          {% if site.linkedin_username %}
          <li>
            <a class="icon-linkedin" href="https://linkedin.com/in/{{ site.linkedin_username }}" title="{{ site.linkedin_username }}">
              <span class="hidden">LinkedIN</span>
            </a>
          </li>
          {% endif %}

          <li>
            <a class="icon-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe via RSS">
              <span class="hidden">RSS</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>