<head>
    {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | escape | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | escape | truncate: 160 }}{% endif %}{% endcapture %}
    {% capture short_title %}{{ page.title | escape }}{% endcapture %}
    {% capture long_title %}{{ short_title }} | {{ description }}{% endcapture %}
    {% capture image %}{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.image }}{% endif %}{% endcapture %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="version" content="{{ site.time | date: '%s%N' }}">
    <meta name="git_commit" content="{{ site.github.build_revision }}">

    <title>{{ long_title }}</title>
    <meta name="description" content="{{ description }}">
    {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
    {% endif %}
    <link rel="me" href="https://twitter.com/toddhgardner">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">

    <!-- Facebook Meta -->
    <meta property="og:title" content="{{ short_title }}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="article:author" content="Todd H. Gardner" />
    <meta property="og:image" content="{{ image }}" />

    <!-- Twitter Cards -->
    <meta name="twitter:title" content="{{ short_title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:site" content="@toddhgardner" />
    {% if page.youtube_id %}
    <meta name="twitter:card" content="player" />
    <meta name="twitter:image" content="https://i.ytimg.com/vi/{{ page.youtube_id }}/maxresdefault.jpg" />
    <meta name="twitter:player" content="https://www.youtube.com/embed/{{ page.youtube_id }}" />
    <meta name="twitter:player:width" content="1280" />
    <meta name="twitter:player:height" content="720" />
    <meta name="twitter:app:name:iphone" content="YouTube" />
    <meta name="twitter:app:id:iphone" content="544007664" />
    <meta name="twitter:app:name:ipad" content="YouTube" />
    <meta name="twitter:app:id:ipad" content="544007664" />
    <meta name="twitter:app:url:iphone" content="vnd.youtube://www.youtube.com/watch?v={{ page.youtube_id }}&amp;feature=applinks" />
    <meta name="twitter:app:url:ipad" content="vnd.youtube://www.youtube.com/watch?v={{ page.youtube_id }}&amp;feature=applinks" />
    <meta name="twitter:app:name:googleplay" content="YouTube" />
    <meta name="twitter:app:id:googleplay" content="com.google.android.youtube" />
    <meta name="twitter:app:url:googleplay" content="https://www.youtube.com/watch?v={{ page.youtube_id }}" />
    {% else %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ image }}" />
    {% endif %}


    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicon/manifest.json">
    <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    {% if page.categories contains "article" %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ site.url }}{{ site.baseurl }}{{ page.ur l}}"
        },
        "headline": "{{ page.title }}",
        "image": "{{ site.url }}{{ site.baseurl }}{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}",
        "datePublished": "{{ page.date | date: "%FT%T" }}",
        "dateModified": "{{ page.date | date: "%FT%T" }}",
        "author": {
            "@type": "Person",
            "@id": "{{ site.url }}{{ site.baseurl }}",
            "name": "{{ site.title }}",
            "image": "{{ site.url }}{{ site.baseurl }}{{ site.image }}"
        },
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ site.url }}{{ site.baseurl }}{{ site.image }}"
            }
        },
        "description": "{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}"
    }
    </script>
    {% endif %}


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Merriweather:400,400italic,700">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css{% if jekyll.environment == 'production' %}?{{ site.time | date: "%s%N" }}{% endif %}">
</head>
