<section class="newsletter">
  <div class="wrapper">

    <h2>Subscribe Now!</h2>
    <div class="subtitle">If email is your jam, I&apos;ll send you updates.</div>

    <form action="https://toddhgardner.us7.list-manage.com/subscribe/post?u=27ee5a77ce376ffc901ea5644&amp;id=c0262a41d5&amp;f_id=0077c5e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_self">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required />
      <input type="hidden" name="tags" value="7174768" />
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27ee5a77ce376ffc901ea5644_c0262a41d5" tabindex="-1" value=""></div>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
    </form>

  </div>
</section>