<script>
  /** Async load Google Fonts
    * This prevents a paint delay when Google fonts is slow
    */
  (function (document, undefined) {
    var resource = document.createElement('link');
    resource.setAttribute('rel', 'stylesheet');
    resource.setAttribute('href', 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Merriweather:400,400italic,700');
    resource.setAttribute('type', 'text/css');
    document.getElementsByTagName('head')[0].appendChild(resource);
  })(document);
</script>