<script>
  /** Async load Google Fonts
    * This prevents a paint delay when Google fonts is slow
    */
  (function (document, undefined) {
    var resource = document.createElement('link');
    resource.setAttribute('rel', 'stylesheet');
    resource.setAttribute('href', 'https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Merriweather:400,400italic,700');
    resource.setAttribute('type', 'text/css');
    document.getElementsByTagName('head')[0].appendChild(resource);
  })(document);
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-35850950-5', 'auto');
  ga('send', 'pageview');
</script>