
/**
  * Typography Styles
  */

a,
a:visited {
  color: $brand-color;
  text-decoration: none;
  transition: color ease 350ms;
  -webkit-transition: color ease 350ms;

  &:hover,
  &:active,
  &:focus {
    color: lighten($brand-color, 20%);
    text-decoration: none;
  }
}

.text-center {
  text-align: center;
}

.accented a {
  color: lighten($brand-color, 33%);
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: lighten($brand-color, 20%);
    text-decoration: none;
  }
}