/**
  * Site Footer
  */

footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-about {
  .about-image {
    display: inline-block;
    width: 120px;
    margin: $spacing-unit / 4;
    vertical-align: top;
    img {
      border-radius: 60px;
    }
  }
  .about-text {
    display: inline-block;
    padding: $spacing-unit / 4;
    width: -webkit-calc(100% - (125px + #{$spacing-unit}));
    width:         calc(100% - (125px + #{$spacing-unit}));
  }
}

.social-media-list {
  list-style: none;
  margin: $spacing-unit;
  font-size: 24px;
  text-align: right;

  li {
    display: inline;
    padding: 0 10px;

    a {
      &:hover,
      &:focus,
      &:active {
        svg {
          path {
            fill: lighten($brand-color, 20%);
          }
        }
      }
    }
  }
}

@include media-query($on-laptop) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));

    .social-media-list {
      text-align: center;
    }
  }
}

@include media-query($on-palm) {
  .footer-about {
    .about-image,
    .about-text {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .footer-col {
    .social-media-list {
      text-align: center;
    }
  }
}
