
/**
 * Site header
 */
.site-header {
  margin-top: 32px;
  min-height: 56px;
  text-transform: uppercase;

  // Positioning context for the mobile navigation icon
  position: relative;

  a {
    color: $grey-color-dark;

    &:hover,
    &:active,
    &:focus {
      color: $brand-color;
    }
  }

  @include media-query($on-palm) {
    margin-top: 0;
  }
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

.site-nav {
  display: none; // TODO Remove this when we need a nav
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-weight: 800;
    font-size: 14px;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 0;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      padding-right: 10px;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
      background-color: $background-color;
      border-bottom: 4px solid $grey-color-dark;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 20px;
      font-size: 20px;
    }
  }
}
