/**
 * Posts
 */

.post {
  font-family: $content-font-family;
  img {
    border: 10px solid $grey-color-light;
    width: 95%;
    margin: 10px auto 10px;
  }

}


.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}


.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-share {
  padding: 18px 0;
  border-top: 1px solid $grey-color-light;
  border-bottom: 1px solid $grey-color-light;
  text-align: center;

  .info {
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
  }

  .share-icon {
    font-size: 18px;
    color: $grey-color;
    &:hover,&:active,&:focus {
      color: $brand-color;
    }
  }
}